@mixin section-colored($img-url, $background-position) {
    height: 100vh;
    background-image: linear-gradient(
                        to right bottom, 
                        $primary-color-1,
                        rgba(123, 136, 255, 0.8)),
                        url($img-url);
    background-size: cover;
    background-position: $background-position;
    position: relative;
}