$primary-color-1: rgba(108, 92, 231, 0.6);
$primary-color-2: rgba(123, 136, 255, 0.8);
$white: #fffafa;

$imgurl-city: "img/city1.jpg";
$imgurl-space: "img/space3.jpg";

$clip-first: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
$clip-last: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);