@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/navbar";

@import "layout/header";

@import "page/home";



.heading-primary {
    color: $white;
    /*text-transform: uppercase;*/

    &--main {
        display: block;
        font-size: 5rem;
        animation-name: fromAbove;
        animation-duration: 1s;
    }

    &--sub{
        display: block;
        font-size: 3rem;
        letter-spacing: 1rem;
        animation-name: fromLeft;
        animation-duration: 1s;
    }
}



.presentation {
    height: 70vh;
}

.contact {
    @include section-colored("img/space3.jpg", bottom);

    /*clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);*/
    clip-path: $clip-last;
}