$primary-color-1: rgba(108, 92, 231, 0.6);
$primary-color-2: rgba(123, 136, 255, 0.8);
$white: #fffafa;

$imgurl-city: "img/city1.jpg";
$imgurl-space: "img/space3.jpg";

$clip-first: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
$clip-last: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);

@mixin section-colored($img-url, $background-position) {
    height: 100vh;
    background-image: linear-gradient(
                        to right bottom, 
                        $primary-color-1,
                        rgba(123, 136, 255, 0.8)),
                        url($img-url);
    background-size: cover;
    background-position: $background-position;
    position: relative;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Hind', sans-serif;
    background-color: $white;

    box-sizing: border-box;
}

.header {
    @include section-colored($imgurl-city, center);

    clip-path: $clip-first;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading-primary {
    color: $white;
    /*text-transform: uppercase;*/
}

.heading-primary--main {
    display: block;
    font-size: 5rem;
    animation-name: fromAbove;
    animation-duration: 1s;
}

.heading-primary--sub{
    display: block;
    font-size: 3rem;
    letter-spacing: 1rem;
    animation-name: fromLeft;
    animation-duration: 1s;
}

@keyframes fromAbove{
    0% {
        opacity: 0;
        transform: translateY(-10rem);
        transition-delay: 1s;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fromLeft{
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }

    80% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.presentation {
    height: 70vh;
}

.contact {
    @include section-colored("img/space3.jpg", bottom);

    /*clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);*/
    clip-path: $clip-last;
}