@import "../utils/mixins";
@import "../utils/variables";

.navbar {
    width: 100%;
    height: $navbar-height;

    position: absolute;
    top: 0;
    @include centralize(true, false);

    display: flex;
    gap: 5rem;

    align-items: center;
    justify-content: space-between;

    background-color: $color-secondary;
    color: $color-primary;

    &__content {
        max-width: $desktop-content-width;
        width: 100%;
        @include centralize(true, false);

        &__logo {
        
            display: inline-block;
            padding: 0 2rem 0 2rem;
            background-color: $color-quaternary;
            height: 100%;
            line-height: $navbar-height;
            color: $color-secondary;
            font-size: 2.5rem;
            white-space: nowrap;
            cursor: default;
        }
    }

   

    &__info {
        display: flex;
        gap: 2rem;

        & a {
            text-decoration: none;
            color: $color-primary;
        }

        & span {
            font-size: 1.5rem;
            font-weight: bold;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }

    &__links {
        display: flex;
        gap: 1rem;
        margin: 0 3rem 0 0;

        &__icon {

            color: $color-primary;
            font-size: 4rem;

        }
    }
}
