.navbar {
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    &__logo {
        margin: 0;
        cursor: pointer;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        li {
            width: 60px;
        }

        a {
            text-decoration: none;
            opacity: 0.7; // Non-active links are slightly transparent
            transition: opacity 0.1s ease, color 0.1s ease;

            &:hover {
                opacity: 1; // Full opacity on hover
            }

            &.active {
                opacity: 1; // Full opacity for the active link
                font-weight: bold;
            }
        }
    }
}