@import "../utils/variables";

.navbar {
    width: 100%;
    height: 64px;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    gap: 5rem;

    align-items: center;
    justify-content: space-between;

    color: $color-primary;

    &__logo {
        display: inline-block;
        position: relative;

        padding: 0;

        margin-left: 3rem;


        & h2 {
            line-height: 1.5;
            vertical-align: center;
            margin: 0;
            font-size: 3rem;
            font-weight: 100;
            white-space: nowrap;
            cursor: default;
        }
    }

    &__info {
        display: flex;
        gap: 2rem;

        & a {
            text-decoration: none;
        }

        & span {
            font-size: 1.5rem;
            font-weight: 100;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }

    &__links {
        display: flex;
        gap: 1rem;
        margin: 0 3rem 0 0;

        &__icon {

            flex-direction: row;
            width: 4rem;
            height: 4rem;

            &--github {
                fill: green;
            }

            &--linkedin {
                fill: green;
            }

        }
    }
}

.mobileMenu {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;

    &__closeMobile {
        position: relative;
        right: 1rem;
    }
}

@media screen and (min-width: 748.1px) {
    .mobile {
        display: none;
    }

    .navbar__logo {
        margin-right: 3rem;
    }

    .menu-container {
        display: none;
    }
}

@media screen and (max-width: 748px) {
    .desktop {
        display: none;
    }

    .mobile {
        margin-right: 1rem;
    }

}

