@import "../utils/variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.presentation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include centralize(true,true);

    &__text { }
    
    &__title {
        color: $color-secondary;
        font-size: 4.5rem;
        font-family: 'Roboto', serif;
        text-align: center;
    }

    &__subtitle {
        color: $color-tertiary;
        font-family: 'Playfair Display', serif;
        font-size: 2.5rem;
        text-align: center;
    }

    &__links {
        font-size: 4.5rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        color: $color-secondary;
    }

    &__selfie {
        width: 20rem;
        border-radius: 100%;
    }
}


@media screen and (max-width: 748px) {
    .presentation-box {
        &__title {
            font-size: 4.5rem;
        }

        &__subtitle {
            font-size: 2rem;
            text-align: center;
        }
    }

}

@media screen and (min-width: 748.1px) {
    .presentation-box {
        width: 50rem;

        &__title {
            font-size: 6rem;
        }

        
    }

    
}