@import "../utils/variables";

.presentation-box {
    color: $color-secondary;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    

    &__title {
        font-size: 4.5rem;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: bold;
    }

    &__links {
        font-size: 4rem;
        display: flex;
        gap: 2rem;
        color: $color-secondary
    }
}


@media screen and (max-width: 748px) {
    .presentation-container {
        flex-direction: column;
    }

    .dl-btn {

        &__icon {
            height: 2rem !important;
            width: 2rem !important;
        }
    }

}

@media screen and (min-width: 748.1px) {
    .presentation-container__info {
        max-width: 30%;
    }
}