@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.skills {
    height: 100%;
    @include centralize(true,true);

    &__title {
        font-family: 'Roboto', 'sans-serif';
        font-size: 3rem;
        position: relative;
        top: 1rem;
        color: #fff;
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        @include centralize(true, true);

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;


            &__icon {
                font-size: 5rem;
                color: $color-quaternary
            }

            &__description {
                font-family: 'Playfair Display', serif;
                color: #fff;
                text-align: center;
            }
        }

    }

}

@media screen and (max-width: 748px) {
    .skills {

        &__grid {

            grid-template-columns: 1fr 1fr;

            &__item {

                &__icon {
                    font-size: 4rem;
                }

                &__description {
                    font-size: 1.5rem;
                    max-width: 5rem;
                }
            }
        }
    }

}

@media screen and (min-width: 748.1px) {
    .skills {

        &__grid {
            row-gap: 10rem;

            &__item {

                &__icon {
                    font-size: 7rem;
                }

                &__description {
                    font-size: 3rem;
                }
            }
        }
    }

    
}