.contact-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 7rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem 0 3rem;
    max-width: 50rem;

    & > form {
        width: 100%;
    }
}

.btn {
    font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';
    font-size: 1.5rem;
}