.home-content {
    display: flex;
    flex-direction: row;

    &__col {
        flex-grow: 1;      // Allows columns to grow equally
        flex-basis: 0;     // Prevents basis (starting width) from interfering
        padding: 20px;     // Optional: Adds padding for better appearance

        &--1 {
            height: 40vh;
        }

        &--2 {
            height:200vh;
            border: 1px dashed #ccc;
        }
    }
}

.personal-card {
    position: fixed;
    border: 1px solid dashed;
    width: 400px; //erase
    height: 600px; //erase
}

.personal-data {
    width: 400px;
    height: 2000px;
}