.home-content {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__col {
        flex-grow: 1;      // Allows columns to grow equally
        flex-basis: 0;     // Prevents basis (starting width) from interfering
        padding: 20px;     // Optional: Adds padding for better appearance

        &--1 {
            height: 40vh;
            position: fixed;

            @media (max-width: 768px) {
                position: static; // Remove fixed positioning on small screens
                width: 100%;      // Make the column take full width
                height: auto;     // Adjust the height as needed
                margin-bottom: 20px; // Space between columns
            }
        }

        &--2 {
            margin-left: 50%;
            display: flex;
            flex-direction: column;

            @media (max-width: 768px) {
                width: 100%; // Full width in smaller screens
                margin: 0;
            }

            & .work-places {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 30px;

                &:hover .job-entry:not(:hover) {
                    opacity: 0.5;
                    filter: blur(.5px);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
