.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem 0 2rem;
    top: 7rem;
    font-size: 1.5rem;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

    &__icon{
        display: flex;
        justify-content:flex-start;
        align-items: center;

        & > a > span {
            font-size: 1rem;
            font-style: italic;
        }

        & > a > svg {
            font-size: 4rem;
        }
    }
}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    & > Chip {
        font-size: 2rem;
    }
}

.anchor {
    position: relative;
    top:0;
}

@media screen and (max-width: 600px) {
    .projects {
        top: 7rem;
    }

    .chips {
        gap: .6rem;
    }
}