---
title: About Me
layout: layouts/base.njk
permalink: /about/
---
{% block favicon %}
<link rel="icon" href="/images/favicon/about.ico" type="image/x-icon">
{% endblock %}

{% block content %}
  <h1>About Me</h1>
  <p>This section is under construction</p>
  <p>Please be patient</p>
{% endblock %}