---
title: About Me
layout: layouts/base.njk
permalink: /about/
---
{% block favicon %}
<link rel="icon" href="/images/favicon/about.ico" type="image/x-icon">
{% endblock %}

{% block content %}
  <h1>About Me</h1>
  <p>Hello, I'm Tiago Murer, a web developer with a passion for creating clean, efficient, and user-friendly websites.</p>
  <p>This is the about page where I share details about myself and my work.</p>
{% endblock %}