---
title: Contact
layout: layouts/base.njk
permalink: /contact/
---
{% block favicon %}
<link rel="icon" href="/images/favicon/loudspeaker.ico" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<section class="contact">
    <h1>Get in Touch</h1>
    <p>🚧 This section is still a work in progress, but don't worry, you can still reach me!</p>
    <p>Feel free to connect with me on <a href="https://www.linkedin.com/in/tiagomurer" target="_blank"> LinkedIn</a> or drop me an email at <a href="mailto:tiagostaurenghi@gmail.com">tiagostaurenghi@gmail.com</a>.</p>
</section>


{% endblock %}