---
title: Home
layout: layouts/base.njk
permalink: /
---
{% block favicon %}
<link rel="icon" href="/images/favicon/home.ico" type="image/x-icon">
{% endblock %}

{% block content %}
  <div class="home-content">
    <div class="home-content__col home-content__col--1">
      {% include 'partials/personal-card.njk' %}
    </div>
    <div class="home-content__col home-content__col--2">
      {% include 'partials/hero.njk' %}
      <hr>
      <h3 class="subtitle">Places I worked at</h3>
      <div class="work-places">
        {% for job in jobs.jobs %}
          {% include 'partials/job-entry.njk' %}
        {% endfor %}
      </div>
      <hr>
      <div class="subtitle-and-btn">
        <h3 class="subtitle">Things I can do</h3>
        <span id="toggle-all-accordions">expand all</span>
      </div>
      
      <div class="accordions">
        {% for skill in skills.skills %}
           {% include 'partials/accordion.njk' %}
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="../scripts/accordions.js"></script>
{% endblock %}