---
title: My Projects
layout: layouts/base.njk
permalink: /projects/
---
{% block favicon %}
<link rel="icon" href="/images/favicon/projects.ico" type="image/x-icon">
{% endblock %}

{% block content %}
  <h1>Projects</h1>
  {% for project in projects.projects %}
    {% include 'partials/project.njk' %}
  {% endfor %}
{% endblock %}