//colors
$color-primary: #21094e ;       
$color-secondary: #511281;    
$color-tertiary:#4ca1a3;      //10%
$color-quaternary: #a5e1ad;
$color-white: #fff;
$color-black: #000000;

//measures

$navbar-height: 6.4rem;
$desktop-content-width: 144rem;