$base-light: #f1f5f9;
$base-dark: #334155;


* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: #f7f7f7;
  font-size: 65.25%;
}

body {
  max-width: 1440px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

.anchor {
  position: relative;
  top: 0;
  //scroll-margin-top: 5rem;
}