.navigationBar {
    height: 5rem;
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    background-color: #FAF9F6;
    color: #060606;
    opacity: 85%;
    z-index: 999;
    font-size: 1.5rem;
    font-weight: bold;

    &__sections {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
}

li {
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    opacity: inherit;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;

    &:hover {
        opacity: 100%;
        color: #000;
        background-color: #e7e7e7;
    }
}

@media screen and (max-width: 600px) {
    .navigationBar {
        width: 100%;
        font-size: 1rem;
    }

    li {
        padding: 0 0.5rem 0 0.5rem;
        &:hover {
            background-color: inherit;
        }
    }
  }

  @media(max-width: 320px){ 
    .navigationBar {
        font-size: 0.75rem;
    }

    li {
        height: 60%;
        &:hover {
            background-color: inherit;
        }
    }
  }
  