<details class="accordion">
    <summary class="accordion__title">{{ skill.category }}</summary>
    <ul class="accordion__content">
        {% for sk in skill.skillset %}
            <li class="accordion__content__item">{{ sk }}</li>
        {% endfor %}
    </ul>
</details>
