<footer>
  <div class="footer-content">
    <p>&copy; {{ currentYear }} Tiago Murer. All rights reserved.</p>
    <ul class="footer-links">
      <li><a href="/about/">About</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <div class="social-media">
      <a href="https://github.com/tsmurer" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/tiagomurer/" target="_blank">LinkedIn</a>
    </div>
  </div>
</footer>