<section class="hero">
  <div class="hero-content">
    <h2>I am a Software Engineer with a tech graduation and 4 years of professional experience at making things faster and prettier.</h2>
    <div class="hero-buttons">
    </div>
  </div>
</section>