<section class="hero">
  <div class="hero-content">
    <h2>I am a Software Engineer with a tech graduation and 4 years of professional experience at making things faster and prettier.</h2>
    <div class="hero-buttons">
      {# <a href="#your-link-1" class="btn btn-primary">Button 1</a> #}
      {# <a href="#your-link-2" class="btn btn-secondary">Button 2</a> #}
    </div>
  </div>
</section>