.section {
    display: block;
    height: 60rem;
    width: 100%;

}

.section-title {
    font-size: 3.5rem;
}

@media screen and (max-width: 600px) {
    .section {
        height: 100vh;
    }

    .section-title {
        font-size: 2rem;
        top: 2rem;
    }
}