.section {
    display: block;
    height: calc(85vh + 5rem);
    width: 100%;
    position:relative;

}

.anchor {
    position: relative;
    top: -5rem;
}

.section-title {
    font-size: 3.5rem;
    position:relative;
    top:5rem;
    padding: 0 2rem 0 2rem;
}

@media screen and (max-width: 600px) {
    .section {
        height: 100vh;
    }

    .section-title {
        font-size: 2rem;
        top: 2rem;
    }
}