@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
  }

html { 
    font-size: 62.5%; 
}

h1, h2, h3, h4, h5, h6, span {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    color: inherit;
}